In [3]:
import pandas as pd
# create a simple dataset of people
data = {'Name': ["baibhab", "kousik", "sahil"],
 'Location' : ["New York", "Paris", "Berlin"],
 'Age' : [24, 13, 53]
 }
data_pandas = pd.DataFrame(data)
# IPython.display allows "pretty printing" of dataframes
# in the Jupyter notebook
display(data_pandas)

      Name  Location  Age
0  baibhab  New York   24
1   kousik     Paris   13
2    sahil    Berlin   53